[tool.ruff]
# Configuración global
line-length = 100
target-version = "py312"
# Habilita el auto-fix por defecto
fix = true
# Evita procesar dependencias y migraciones
extend-exclude = ["alembic", "venv", ".venv", "build", "dist"]

[tool.ruff.lint]
# E/W: Estilo, F: Errores, I: Orden imports, N: Nombres, D: Comentarios, UP: Modernización, B: Prevención bugs
select = ["E", "W", "F", "I", "N", "D", "UP", "B"]
# Habilitamos la corrección automática para todas las reglas seleccionadas
fixable = ["ALL"]
unfixable = []

ignore = [
    "D100", # No exige comentario al inicio de cada archivo
    "D104", # No exige comentario en carpetas (__init__.py)
    "D101", # docstring in public class
    "D102",
    "D103",
    "D107", # No exige comentario en el constructor __init__
    "B008", # Permite declarar dependencias en FastAPI (ej. Depends())
    "E203", # whitespace before
    "E501", # line too long
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = false

[tool.ruff.lint.isort]
combine-as-imports = true
lines-between-types = 1
# Añade aquí todas tus carpetas locales o el prefijo que uses
known-first-party = ["dependencies", "models", "src", "controllers"]

[tool.mypy]
python_version = "3.14"
strict = true
ignore_missing_imports = true
exclude = ["alembic", "venv", ".venv"]
plugins = ["pydantic.mypy"]
mypy_path = "src"
explicit_package_bases = true
