[tool.ruff]
# Configuración global
line-length = 100
target-version = "py312"
fix = true
# Añadido "migrations" para que no toque archivos de Alembic
extend-exclude = ["alembic", "venv", ".venv", "build", "dist", "migrations"]

[tool.ruff.lint]
# Seleccionamos las reglas (I = Isort es clave aquí)
select = ["E", "W", "F", "I", "N", "D", "UP", "B"]
fixable = ["ALL"]
unfixable = []

ignore = [
    "D100", "D104", "D101", "D102", "D103", "D107",
    "B008", # FastAPI Depends()
    "E203", # Conflicto con formateadores
    "E501", # Dejamos que ruff-format maneje el largo de línea
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = false

[tool.ruff.lint.isort]
combine-as-imports = true
# AJUSTE: Forzamos 2 líneas después de los imports para evitar que el IDE lo cambie
lines-after-imports = 2
known-first-party = ["dependencies", "models", "src", "controllers", "repositories", "schemas", "services"]

[tool.mypy]
# AJUSTE: Cambiado de 3.14 a 3.12 para que coincida con Ruff y tu entorno real
python_version = "3.12"
strict = true
warn_return_any = false
ignore_missing_imports = true
# AJUSTE: Agregado "alembic" a la exclusión
exclude = ["alembic", "migrations", "venv", ".venv"]
plugins = ["pydantic.mypy"]
explicit_package_bases = true
# AJUSTE: Ayuda a encontrar errores en funciones sin tipos definidos
check_untyped_defs = true
warn_unused_ignores = true
